@import "reset.css";

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.head {
    margin-top: 30px;
}

.search {
    margin-top: 40px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

input {
    width: 200px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 20px;
    float: left;
    color: #63717f;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #21252B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
}